<div class="fr-container fr-py-3w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
            <div class="fr-p-1w">
                <div class="fr-callout {{ block.value.color }} fr-fi-information-line">
                    <h3 class="fr-callout__title">{{ block.value.title }}</h3>
                    <p class="fr-callout__text">
                        {{ block.value.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
