{% load static %}
<div class="fr-card fr-card--sm{% if block.value.document %} fr-enlarge-link{% endif %} fr-card--horizontal">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title">
                {% if block.value.document %}<a href="{{ block.value.document.url }}">{% endif %}{{ block.value.title }}{% if block.value.document %}</a>{% endif %}
            </h3>
            <div class="fr-card__end">
                <p class="fr-card__detail ">{{ block.value.text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
    <div class="fr-card__header">
        {% if block.value.svg_icon %}
            <div class="fr-tile__img">
                {% with 'artwork/'|add:block.value.svg_icon|add:'.svg' as ico_static %}
                    <img src="{% static ico_static %}" class="fr-responsive-img" alt="">
                {% endwith %}
            </div>
        {% endif %}
    </div>
</div>
