{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image block.value.image original as tmp_image %}
<div class="cover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/media/images/macron_CNR.width-800.jpg)">
    <div class="fr-container fr-py-6w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
                <h1 class="fr-display--sm">{{ block.value.title }}</h1>
                <p>{{ block.value.text }}</p>
                <a class="fr-btn fr-btn--icon-left fr-icon-lightbulb-line fr-btn--secondary" href="{{ block.value.cta_link }}"> {{ block.value.cta_label }}</a>
            </div>
        </div>
    </div>
</div>
