<div class="fr-container fr-my-2w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
            <h2>{{ block.value.title_left }}</h2>
            <iframe title="CNR Santé" aria-label="Carte" id="datawrapper-chart-uRj2Q" src="https://datawrapper.dwcdn.net/uRj2Q/4/" scrolling="no" style="width: 0; min-width: 100% !important; border: none;" height="588" data-external="1"></iframe>
            <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();</script>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
            <h2>{{ block.value.title_right }}</h2>
            <iframe title="Notre école" aria-label="Carte" id="datawrapper-chart-xYZlD" src="https://datawrapper.dwcdn.net/xYZlD/6/" scrolling="no" style="width: 0; min-width: 100% !important; border: none;" height="578" data-external="1"></iframe>
            <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();</script>
        </div>
    </div>
</div>