{% load wagtailimages_tags %}

<div class="fr-background-alt--blue-france">
    <div class="fr-container fr-py-3w">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for subblock in block.value %}
                {% if subblock.block_type == 'title' %}
                    <div class="fr-col-12">
                        <h2>{{ subblock.value }}</h2>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            {% for subblock in block.value %}
                
                {% if subblock.block_type == 'image' %}
                    <div class="fr-col">
                        {% image subblock.value original class="fr-responsive-img" %}
                    </div>
                {% elif subblock.block_type == 'number' %}
                    <div class="fr-col number-block">
                        <h3 class="fr-display-xs">{{ subblock.value.number }}</h3>
                        <p>{{ subblock.value.label|upper }}</p>
                        {% if subblock.value.info %}
                        <p><span class="fr-icon-information-line fr-icon--sm" aria-hidden="true"></span> {{ subblock.value.info }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
