{% load wagtailimages_tags %}
<figure class="fr-quote {% if block.value.image %}fr-quote--column{% endif %}">
    <blockquote>
        <p>« {{ block.value.quote }} »</p>
    </blockquote>
    <figcaption>
        <p class="fr-quote__author">{{ block.value.author_name }}</p>
        <ul class="fr-quote__source">
            <li>
                <cite>{{ block.value.author_title }}</cite>
            </li>
        </ul>
        {% if block.value.image %}
        <div class="fr-quote__image">
            {% image block.value.image original class="fr-responsive-img" %}
        </div>
        {% endif %}
    </figcaption>
</figure>