.logo {
  height: 70px; }

.bordered {
  border: 1px solid var(--border-default-grey); }

.illustration {
  max-width: 300px; }

.fr-header__service {
  display: flex;
  align-items: start;
  justify-content: center; }

.cover {
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .cover h1 {
    color: #fff;
    margin-top: -20vh; }

.mt-n30vh {
  margin-top: -30vh; }

.errorlist {
  list-style: none;
  padding: 0;
  color: var(--text-label-red-marianne); }

.cover-baseline {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .cover-baseline h1 {
    color: #fff; }
  .cover-baseline p {
    color: #fff; }

.number-block h3 {
  text-align: center;
  color: var(--text-label-blue-france);
  font-size: 2.5rem;
  line-height: 3rem; }

.number-block p {
  text-align: center; }

.no-bullets {
  list-style-type: none; }

.participantlist-icon {
  color: var(--text-label-blue-france); }
