.logo
  height: 70px

.bordered
  border: 1px solid var(--border-default-grey)

.illustration
  max-width: 300px

// to align Logo CNR with Beta Badge in header
.fr-header__service
  display: flex
  align-items: start
  justify-content: center
