.cover
  background-size: cover
  background-position: center
  height: 380px
  display: flex
  justify-content: center
  text-align: center

.bg-white
  background-color: #fff

.bg-blue-france-975
  background-color: #f5f5fe

.box
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
  padding: 3em 5em
  background-color: #fff

// DSFR override to display links correctly in checkbox label
.fr-checkbox-group input[type="checkbox"] + label
  display: inherit

// DSFR class that is supposed to exist in documentation
.fr-mt-n15w
  margin-top:  -7.5rem

// mediaqueries
@media (max-width: 575px)
  .box
    padding: 1em
