<div class="fr-notice fr-notice--info">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-md-10">
                <p class="fr-notice__title">
                  <span class="fr-icon-questionnaire-fill" aria-hidden="true"></span> Les nouveaux questionnaires du CNR sont en ligne !
                </p>
            </div>
            <div class="fr-col-12 fr-col-md-2 participatelink">
                <a href='{% url 'inscription' %}' class="fr-link fr-fi-arrow-right-line fr-link--icon-right" target='_self'>Participer</a>
            </div>
        </div>
    </div>
</div>
