{% extends "dsfr/header.html" %}

{% block service_title %}
<a href="/" title="Accueil — CNR">
    <p class="fr-header__service-title">CNR</p>
</a>
{% endblock service_title %}

{% block service_tagline %}Conseil National de la Refondation{% endblock service_tagline %}

{% block header_tools %}
{% endblock header_tools %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{% block burger_menu %}
{% endblock burger_menu %}

{% block main_menu %}
{% endblock main_menu %}
