{% extends "dsfr/header.html" %}
{% load static %}

{% block brand %}
  <a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
    <p class="fr-logo">république<br />française</p>
  </a>
{% endblock brand %}

{% block service_title %}
  <img src="{% static 'images/cnr_logo_horizontal.svg' %}" alt="Conseil National de la Refondation" class="logo">

{% endblock service_title %}

{% block service_tagline %}
{% endblock service_tagline %}

{% block header_tools %}
{% endblock header_tools %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{# block burger_menu #}
{# endblock burger_menu #}

{% block main_menu %}
<div class="fr-header__menu fr-modal" id="fr-menu-mobile" aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
      <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-menu-mobile">Fermer</button>
      <div class="fr-header__menu-links"></div>
      <nav class="fr-nav" id="fr-navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
          <li class="fr-nav__item">
            <a class="fr-nav__link" {% if request.resolver_match.url_name == "index" %}aria-current="page"{% endif %} href="{% url 'index' %}" target="_self">Accueil</a>
          </li>
          <li class="fr-nav__item">
            <a class="fr-nav__link" {% if request.resolver_match.url_name == "inscription" %}aria-current="page"{% endif %} href="{% url 'inscription' %}" target="_self">Participer</a>
          </li>
          <li class="fr-nav__item">
            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-774">Découvrir</button>
            <div class="fr-collapse fr-menu" id="menu-774">
              <ul class="fr-menu__list">
                  <li><a class="fr-nav__link" {% if request.resolver_match.url_name == "fonctionnement" %}aria-current="page"{% endif %} href="{% url 'fonctionnement' %}" target="_self">Esprit et méthode</a></li>
                  <li> <a class="fr-nav__link" {% if request.resolver_match.url_name == "bien_vieillir" %}aria-current="page"{% endif %} href="{% url 'bien-vieillir' %}" target="_self">Bien vieillir</a> </li>
                  <li> <a class="fr-nav__link" {% if request.resolver_match.url_name == "travail" %}aria-current="page"{% endif %} href="{% url 'travail' %}" target="_self">Assises du travail</a> </li>
                  <li> <a class="fr-nav__link" {% if request.resolver_match.url_name == "economie" %}aria-current="page"{% endif %} href="{% url 'economie' %}" target="_self">Modèle productif et social</a> </li>
                  <li> <a class="fr-nav__link" {% if request.resolver_match.url_name == "numerique" %}aria-current="page"{% endif %} href="{% url 'numerique' %}" target="_self">Numérique</a> </li>
                  <li> <a class="fr-nav__link" {% if request.resolver_match.url_name == "jeunesse" %}aria-current="page"{% endif %} href="{% url 'jeunesse' %}" target="_self">Jeunesse</a> </li>
                  <li> <a class="fr-nav__link" {% if request.resolver_match.url_name == "logement" %}aria-current="page"{% endif %} href="{% url 'logement' %}" target="_self">Logement</a> </li>
                  <li> <a class="fr-nav__link" {% if request.resolver_match.url_name == "climat-biodiversite" %}aria-current="page"{% endif %} href="{% url 'climat-biodiversite' %}" target="_self">Climat et biodiversité</a> </li>
                  <li> <a class="fr-nav__link" {% if request.resolver_match.url_name == "sante" %}aria-current="page"{% endif %} href="{% url 'sante' %}" target="_self">Notre santé</a> </li>
                  <li> <a class="fr-nav__link" {% if request.resolver_match.url_name == "education" %}aria-current="page"{% endif %} href="{% url 'education' %}" target="_self">Notre école</a> </li>
                </ul>
          </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock main_menu %}
