{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="fr-container fr-my-6w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-5w" role="alert">
                                <p>{{ message }}</p>
                            </div>
                        {% elif message.tags == "info" %}
                            <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w" role="alert">
                                <p>{{ message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <h1>Donnez votre avis dès maintenant</h1>
                <div class="fr-form-group">
                    <span class="fr-hint-text fr-mb-5w">Vous pouvez répondre à une série de questions pour donner votre avis sur les thématiques de votre choix. Pour chaque thématique, 3 à 5 questions vous seront posées. Temps estimé pour y répondre : entre 5 et 10 minutes.</span>
                    <div class="fr-fieldset__content">
                        <ul class="fr-btns-group fr-btns-group--inline">
                        {% for survey in themes_surveys %}
                            <li>
                                <button 
                                    {% if survey in already_answered %}
                                        class="fr-btn fr-btn--secondary" disabled>{{ survey.hr_label }}
                                    {% else %}
                                        class="fr-btn"><a href="{% url 'survey' label=survey.label %}">{{ survey.hr_label }}</a>
                                    {% endif %}
                                </button>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
