{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="fr-container fr-my-6w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-5w" role="status">
                                <p>{{ message }}</p>
                            </div>
                        {% elif message.tags == "info" %}
                            <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w" role="status">
                                <p>{{ message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <hr class="fr-mt-5w">
                    {% csrf_token %}
                    <div class="fr-form-group">
                        <fieldset class="fr-fieldset fr-fieldset--inline"
                                  role="group">
                            <legend class="fr-fieldset__legend fr-h2 fr-mb-0">
                                Donnez votre avis dès maintenant
                            </legend>
                            <span class="fr-hint-text fr-mb-5w">Vous pouvez répondre à une série de questions pour donner votre avis sur les thématiques de votre choix. Pour chaque thématique, 3 à 5 questions vous seront posées. Temps estimé pour y répondre : entre 5 et 10 minutes.</span>
                            
                            <div class="fr-container fr-py-6w">
                                <div class="fr-grid-row fr-grid-row--gutters">

                                <div class="fr-col-12 fr-col-md-6">
                                    <div class="fr-card fr-card--sm fr-enlarge-link fr-card--horizontal fr-card--horizontal-half">
                                        <div class="fr-card__body">
                                            <div class="fr-card__content">
                                                <h3 class="fr-card__title">
                                                    <a href="https://jeparticipe.conseil-refondation.fr/">Climat et biodiversité </a>
                                                </h3>
                                                <p class="fr-card__desc">C'est l'urgence du siècle, et elle exige une planification de nos actions, de l'échelle planétaire à l'échelle locale, une accélération de nos efforts pour réduire les émissions de gaz à effet de serre et une adaptation de notre société aux effets du changement climatique.</p>
                                            </div>
                                        </div>
                              
                                    </div>
                                </div>

                                <div class="fr-col-12 fr-col-md-6">
                                    <div class="fr-card fr-card--sm fr-enlarge-link fr-card--horizontal fr-card--horizontal-half">
                                        <div class="fr-card__body">
                                            <div class="fr-card__content">
                                                <h3 class="fr-card__title">
                                                    <a href="https://jeparticipe.conseil-refondation.fr/">Bien vieillir</a>
                                                </h3>
                                                <p class="fr-card__desc">Notre société fait face à une forte transition démographique (baisse de la natalité, vieillissement de la population) et doit prendre en compte ses conséquences : prendre soin de nos plus âgés, les aider à vieillir dans les meilleures conditions, sauvegarder l'équilibre de la protection sociale et renforcer la solidarité entre les générations.

                                                </p>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="fr-col-12 fr-col-md-6">
                                    <div class="fr-card fr-card--sm fr-enlarge-link fr-card--horizontal fr-card--horizontal-half">
                                        <div class="fr-card__body">
                                            <div class="fr-card__content">
                                                <h3 class="fr-card__title">
                                                    <a href="https://jeparticipe.conseil-refondation.fr/">Numérique</a>
                                                </h3>
                                                <p class="fr-card__desc">La transition numérique est partout : démarches quotidiennes, digitalisation de nos activités et consommation, sécurité et information… À la croisée de ces enjeux, des solutions communes et inclusives doivent être trouvées.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fr-col-12 fr-col-md-6">
                                    <div class="fr-card fr-card--sm fr-enlarge-link fr-card--horizontal fr-card--horizontal-half">
                                        <div class="fr-card__body">
                                            <div class="fr-card__content">
                                                <h3 class="fr-card__title">
                                                    <a href="https://jeparticipe.conseil-refondation.fr/">Logement</a>
                                                </h3>
                                                <p class="fr-card__desc">Rendre l'accès au logement plus facile, améliorer les conditions de vie, préparer les transitions de la vie : autant de défis à relever ensemble.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                        </fieldset>
                    </div>
            </div>
        </div>
    </div>
{% endblock content %}
