{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="fr-container fr-my-6w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-5w" role="status">
                                <p>{{ message }}</p>
                            </div>
                        {% elif message.tags == "info" %}
                            <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w" role="status">
                                <p>{{ message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <hr class="fr-mt-5w">
                <form action="{% url 'survey_intro' %}" method="post" id="participation_intro_form">

                    {% csrf_token %}
                    <div class="fr-form-group">
                        <fieldset class="fr-fieldset fr-fieldset--inline"
                                  role="group">
                            <legend class="fr-fieldset__legend fr-h2 fr-mb-0">
                                Donnez votre avis dès maintenant
                            </legend>
                            <span class="fr-hint-text fr-mb-5w">Vous pouvez répondre à une série de questions pour donner votre avis sur les thématiques de votre choix. Pour chaque thématique, 3 à 5 questions vous seront posées. Temps estimé pour y répondre : entre 5 et 10 minutes.</span>
                            <div class="fr-fieldset__content">
                                {% for survey in form.surveys %}
                                    <div class="fr-checkbox-group">
                                        <input type="checkbox"
                                                name="surveys"
                                                value="{{ survey.choice_label.label }}"
                                                id="{{ survey.id_for_label }}"
                                                {% if survey.choice_label.label in checked %}checked{% endif %}/>
                                        <label class="fr-label" for="{{ survey.id_for_label }}">
                                            {{ survey.choice_label.hr_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                    <div class="fr-input-group fr-my-4w">
                        <button type="submit" class="fr-btn"
                                title="Contribuer aux thèmes sélectionnés">Je
                            contribue
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}
