{% extends 'base.html' %}

{% block content %}
<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h1>Questionnaire</h1>

      <div class="fr-stepper">
          <h2 class="fr-stepper__title">
              <span class="fr-stepper__state">Étape {{ current_step }} sur {{ steps }}</span>
              Question sur la thématique « {{ theme }} »
          </h2>
          <div class="fr-stepper__steps" data-fr-current-step="{{ current_step }}" data-fr-steps="{{ steps }}"></div>
          <p class="fr-stepper__details">
              {% if next_theme %}
              <span class="fr-text--bold">Étape suivante :</span> Question sur la thématique « {{ next_theme }} »
              {% else %}
              <span class="fr-text--bold">Étape suivante :</span> Merci d'avoir participé
              {% endif %}
          </p>
      </div>

      <hr>
        <form action="{% url 'survey' label %}" method="post" id="participation_form" >
            {% csrf_token %}
            <div class="fr-form-group">
            {% for question in questions %}
                <fieldset class="fr-fieldset fr-my-4w">
                    <legend class="fr-fieldset__legend fr-text--xl" id="text-legend">
                        {{ question.hr_label }}
                    </legend>
                 <div class="fr-fieldset__content">
                {% if question.answer_type == "ONE_TEXT_FIELD" %}
                    {% for i in '1'|make_list %}
                    <div class="fr-input-group">
                        <label class="fr-label" for="id_{{ question.label }}-A-{{ forloop.counter0 }}">Indiquez votre réponse ici</label>
                        <textarea class="fr-input fr-mt-1w" type="textarea" name="{{ question.label }}-A-{{ forloop.counter0 }}" id="id_{{ question.label }}-A-{{ forloop.counter0 }}"></textarea>
                    </div>
                    {% endfor %}
                {% endif %}
                {% if question.answer_type == "THREE_TEXT_FIELD" %}
                     {% for i in '123'|make_list %}
                         <div class="fr-input-group">
                        <label class="fr-label" for="id_{{ question.label }}-A-{{ forloop.counter0 }}">Réponse {{ forloop.counter }}</label>
                        <input class="fr-input fr-mt-1w" type="text" name="{{ question.label }}-A-{{ forloop.counter0 }}" id="id_{{ question.label }}-A-{{ forloop.counter0 }}">
                        </div>
                    {% endfor %}
                {% endif %}
                {% if question.answer_type == "FIVE_TEXT_FIELD" %}
                     {% for i in '12345'|make_list %}
                         <div class="fr-input-group">
                        <label class="fr-label" for="id_{{ question.label }}-A-{{ forloop.counter0 }}">Réponse {{ forloop.counter }}</label>
                        <input class="fr-input fr-mt-1w" type="text" name="{{ question.label }}-A-{{ forloop.counter0 }}" id="id_{{ question.label }}-A-{{ forloop.counter0 }}">
                        </div>
                    {% endfor %}
                {% endif %}
                    </div>
                </fieldset>
                <hr>
            {% endfor %}

            <p class="fr-text--xs">Vos contributions ne seront pas rattachées à votre adresse mail et l’analyse des réponses collectives sera publiée en données ouvertes.
                Vous pouvez participer à titre individuel, en tant qu’élu(e), professionnel(le) ou représentant(e) d’une association.</p>

            <div class="fr-input-group fr-my-4w">
                <button type="submit" class="fr-btn" title="Continuer">Je continue</button>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock content %}
