{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h1>Merci pour votre contribution</h1>
      <div class="fr-alert fr-alert--success" role="alert">
          <p>Vos contributions ont bien été enregistrées.</p>
      </div>

      <img src="{% static 'images/illustration_voting.svg' %}" class="illustration fr-mt-6w" alt="">
    </div>
  </div>
</div>
{% endblock content %}
