{% extends 'base.html' %}
{% block content %}
<div class="fr-container fr-my-6w">
   <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
         <h1>Déclaration d’accessibilité</h1>
         <p>Établie le 22 septembre 2022.</p>
         <p>La Direction du numérique s’engage à rendre son service accessible, conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.</p>
         <p>Cette déclaration d’accessibilité s’applique au service du <strong>Conseil National de la Refondation</strong> (https://www.conseil-refondation.fr).</p>
         <h2>État de conformité</h2>
         <p>
            Le service du <strong>Conseil National de la Refondation</strong> est 
            <strong>non conforme</strong> avec le <abbr title="Référentiel général d’amélioration de l’accessibilité">RGAA</abbr>. Le site n’a encore pas été audité.
         </p>
         <p>Vous pouvez retrouver <a href="{% url 'accessibilite_demarche' %}">ici</a> notre démarche concernant l'accessibilité.</p>
         <h2>Amélioration et contact</h2>
         <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable du service du Conseil National de la Refondation pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.</p>
         <ul>
            <li>
               E-mail&nbsp;: <a href="mailto:contact@conseil-refondation.fr">contact@conseil-refondation.fr</a>
            </li>
         </ul>
         <h2>Voie de recours</h2>
         <p>Cette procédure est à utiliser dans le cas suivant&nbsp;: vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>
         <p>Vous pouvez&nbsp;:</p>
         <ul>
            <li>Écrire un message au <a target="_blank" href="https://formulaire.defenseurdesdroits.fr/" rel="noopener" title= "Site du Défenseur des droits - ouvre une nouvelle fenêtre">Défenseur des droits</a></li>
            <li>Contacter <a target="_blank" href="https://www.defenseurdesdroits.fr/saisir/delegues" rel="noopener" title= "Délégué du Défenseur des droits dans votre région - ouvre une nouvelle fenêtre">le délégué du Défenseur des droits dans votre région</a></li>
            <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)&nbsp;:<br>
               Défenseur des droits<br>
               Libre réponse 71120 75342 Paris CEDEX 07
            </li>
         </ul>
         <hr>
         <p>
            Cette déclaration d’accessibilité a été créé le 22 septembre 2022 grâce au <a href="https://betagouv.github.io/a11y-generateur-declaration/#create" target="_blank" rel="noopener" title= "Générateur de Déclaration d’Accessibilité de BetaGouv - ouvre une nouvelle fenêtre">Générateur de Déclaration d’Accessibilité de BetaGouv</a>.
         </p>
      </div>
   </div>
</div>
{% endblock content %}
