{% extends 'base.html' %}
{% block content %}
<div class="fr-container fr-my-6w">
   <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
         <h1>Déclaration d’accessibilité</h1>
         <h2>État de conformité</h2>
         <p>Le site https://www.conseil-refondation.fr est <strong>partiellement conforme</strong> avec le référentiel général d’amélioration de l’accessibilité (RGAA), version 4 en raison des non-conformités énumérées ci-dessous.</p>
         <h3>Résultats des tests</h3>
         <p>L’audit de conformité révèle que 68 % des critères du RGAA version 4 sont respectés.</p>
         <h2>Contenus non accessibles</h2>
         <h3>Non-conformités</h3>
         <ul>
            <li>Le captcha n'est pas conforme</li>
            <li>Le module d’acceptation de cookie n’est pas conforme</li>
         </ul>
         <hr/>
         <h2 >Établissement de cette déclaration d’accessibilité</h2>
         <p>Cette déclaration a été établie le 10 octobre 2022.</p>
         <h3>Environnement de test</h3>
         <p>Les vérifications de restitution de contenus ont été réalisées sur la base d’une combinaison fournie par la base de référence du RGAA, avec les versions suivantes :</p>
         <ul>
            <li>Safari avec VoiceOver Version 10</li>
            <li>FirefoX 105</li>
         </ul>
         <p>Outils pour évaluer l’accessibilité</p>
         <ul>
            <li>Extension Chrome Assistant RGAA  ;</li>
            <li>Extension Chrome Web Developer ;</li>
            <li>Extension Chrome HeadingsMap ;</li>
            <li>Extension Chrome ArcToolkit ;</li>
            <li>Application Colour Contrast Analyser</li>
         </ul>
         <h3>Pages du site ayant fait l’objet de la vérification de conformité</h3>
         <ul>
            <li>Accueil</li>
            <li>Inscription</li>
            <li>Participation</li>
            <li>Questionnaire</li>
            <li>Fin</li>
            <li>mentions légales</li>
            <li>accessibilité</li>
            <li>Politique de confidentialité</li>
         </ul>
         <p>Vous pouvez retrouver <a title="Page d'explication de notre démarche concernant l'accessibilité" href="{% url 'accessibilite_demarche' %}" class="fr-link" rel="noopener">ici notre démarche concernant l'accessibilité.</a></p>
         <h2>Amélioration et contact</h2>
         <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable du service du Conseil National de la Refondation pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.</p>
         <ul>
            <li>
               E-mail&nbsp;: <a href="mailto:contact@conseil-refondation.fr">contact@conseil-refondation.fr</a>
            </li>
         </ul>
         <h2>Voie de recours</h2>
         <p>Cette procédure est à utiliser dans le cas suivant&nbsp;: vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>
         <p>Vous pouvez&nbsp;:</p>
         <ul>
            <li>Écrire un message au <a target="_blank" href="https://formulaire.defenseurdesdroits.fr/" rel="noopener" title= "Site du Défenseur des droits - ouvre une nouvelle fenêtre">Défenseur des droits</a></li>
            <li>Contacter <a target="_blank" href="https://www.defenseurdesdroits.fr/saisir/delegues" rel="noopener" title= "Délégué du Défenseur des droits dans votre région - ouvre une nouvelle fenêtre">le délégué du Défenseur des droits dans votre région</a></li>
            <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)&nbsp;:<br>
               Défenseur des droits<br>
               Libre réponse 71120 75342 Paris CEDEX 07
            </li>
         </ul>
         <hr>
         <p>
            Cette déclaration d’accessibilité a été créé le 22 septembre 2022 grâce au <a href="https://betagouv.github.io/a11y-generateur-declaration/#create" target="_blank" rel="noopener" title= "Générateur de Déclaration d’Accessibilité de BetaGouv - ouvre une nouvelle fenêtre">Générateur de Déclaration d’Accessibilité de BetaGouv</a>.
         </p>
      </div>
   </div>
</div>
{% endblock content %}
