{% extends 'base.html' %}
{% block content %}
<div class="fr-container fr-my-6w">
   <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
         <h1>Démarche d’accessibilité</h1>
         <p>Le site du CNR est partiellement conforme.</p>
         <p>Il a été conçu pour être accessible au plus grand nombre. Vous devriez donc pouvoir :
            <ul>
               <li>changer les couleurs, les niveaux de contraste et les polices de caractères ;</li>
               <li>zoomer jusqu’à 400% sans que le texte ne déborde de l’écran ;</li>
               <li>naviguer sur toutes les pages du site en utilisant un clavier ;</li>
               <li>consulter le site web avec un lecteur d’écran.</li>
            </ul>

         </p>
         <p>
            Nous travaillons actuellement sur le problème suivant :
            <ul>
               <li>Le module d’acceptation de cookie</li>
            </ul>
         </p>
      </div>
   </div>
</div>
{% endblock content %}
