{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="fr-container fr-mt-5w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h1 class="fr-display--sm">Bien vieillir</h1>
      <p>Notre société fait face à une forte transition démographique (baisse de la natalité, vieillissement de la population) et doit prendre en compte ses conséquences : prendre soin de nos plus âgés, les aider à vieillir dans les meilleures conditions, sauvegarder l'équilibre de la protection sociale et renforcer la solidarité entre les générations.</p>
      <p>Notre pays est confronté à une urgence démographique liée au vieillissement de sa population, qui va changer le visage de notre société. En 2030, un tiers de la population française sera âgée de plus de 60 ans et les plus de 65 ans seront alors plus nombreux que les moins de 15 ans.</p>
      <p>Nous devons donc anticiper ce boom démographique et être en capacité de garantir un accompagnement de qualité à nos aînés, tenant compte de leurs aspirations.</p>
      <p>Dans la continuité de ce qui a été fait sous le précédent quinquennat, la nouvelle stratégie vise à compléter l’ensemble des actions déjà entreprises afin de construire une société du bien vieillir.</p>     
      <p> Cette nouvelle stratégie est basée sur 3 priorités :
        <ul>
          <li>Adapter la société au vieillissement ;</li>
          <li>Promouvoir le lien social et la citoyenneté ;</li>
          <li>Valoriser les métiers.</li>
        </ul>
  </p>
  <p>Afin de mettre en place cette stratégie, une nouvelle méthode est déployée pour associer largement les acteurs. Il ne s’agit pas d’une nouvelle concertation pour rediscuter des constats et des enjeux déjà partagés à l’occasion de la concertation menée en 2018, mais d’accélérer des solutions déjà à l’œuvre, de prioriser et d’opérationnaliser les actions qui ne le sont pas encore.</p>
  <p>Lancée le 11 octobre par le Ministre des Solidarités, de l’Autonomie et des Personnes handicapées, Jean-Christophe Combe, cette nouvelle méthode nommée la Fabrique du Bien vieillir et menée dans le cadre du Conseil national de la Refondation voulu par le président de la République Emmanuel Macron, s’étalera pendant 6 mois (d’octobre 2022 à mars 2023), au niveau national et local avec l’ensemble des acteurs.</p>
    <p>Une dizaine d’ateliers citoyens seront organisés dans les territoires à partir du mois de novembre 2022 avec une répartition thématique. </p>
    
  
    <div class="fr-col-12">
      <div class="fr-card fr-card--sm fr-enlarge-link fr-card--horizontal">
          <div class="fr-card__body">
              <div class="fr-card__content">
                  <h3 class="fr-card__title">
                      <a href="{% static 'pdf/Synthese-Bien-vieillir.pdf' %}">Télécharger la synthèse des résultats de la première consultation</a>
                  </h3>
                  <div class="fr-card__end">
                      <p class="fr-card__detail ">PDF - 1.1 Mo</p>
                  </div>
              </div>
          </div>
          <div class="fr-card__header">
              <div class="fr-tile__img">
                  <img class="fr-responsive-img" src="{% static 'artwork/human-cooperation.svg' %}" alt="[À MODIFIER - vide ou texte alternatif de l’image]" />
                  <!-- L’alternative de l’image (attribut alt) doit toujours être présente, sa valeur peut-être vide (image n’apportant pas de sens supplémentaire au contexte) ou non (porteuse de texte ou apportant du sens) selon votre contexte -->
              </div>
          </div>
      </div>
</div>
  
  
  </div>
  </div>
</div><!--container -->

<div class="fr-background-alt--blue-france fr-my-6w">
  <div class="fr-container fr-py-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      
      <h2>Point d’avancement</h2>
<p>Le 1er atelier citoyen de la Fabrique du Bien Vieillir se déroulera à Châlons-en-Champagne le 4 novembre. Il portera sur la participation et la représentation des personnes âgées : Comment peuvent-elles mieux se faire entendre auprès des professionnels qui les entourent, mais aussi dans leur commune ou dans la société dans son ensemble ? Les personnes présentes seront réunies pour construire ensemble des propositions pour la politique publique du Bien vieillir.</p>

<h3>Résumé en image</h3>
<a href="/static/images/Dessin-final-cnr-bien-vieillir.jpg"><img class="fr-responsive-img" src="/static/images/Dessin-final-cnr-bien-vieillir-min.jpg"></a>

<h3 class="fr-mt-5w">Retrouvez l’intégralité de la soirée en vidéo</h3>
<iframe title="vimeo-player" src="https://player.vimeo.com/video/759780898?h=6f2355c188"  class="fr-responsive-vid" frameborder="0" allowfullscreen></iframe>
    </div>
  </div><!--container-->
</div>
</div>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h2>Ressources</h2>
      <p><strong><a href="https://solidarites-sante.gouv.fr/IMG/pdf/rapport_el_khomri_-_plan_metiers_du_grand_age.pdf">Télécharger le rapport de MEK sur l’attractivité des métiers du grand âge </a><strong>
      </p>
      <p> <strong><a href="https://www.vie-publique.fr/sites/default/files/rapport/pdf/280055.pdf"> Télécharger le rapport interministériel de Luc Broussy « Nous vieillirons ensemble » </a></strong> </p>
      <p><strong><a href=" https://solidarites-sante.gouv.fr/IMG/pdf/rapport_grand_age_autonomie.pdf">Télécharger le rapport de la concertation Grand Age et Autonomie de Dominique Libault  </a></strong>  </p>
    </div>
  </div>
</div><!--container -->
<div class="fr-follow">
  <div class="fr-container">
      <div class="fr-grid-row">
          <div class="fr-col-12">
              <div class="fr-follow__newsletter">
                  <div>
                      <h5 class="fr-h5 fr-follow__title">Inscrivez-vous</h5>
                      <p class="fr-text--sm fr-follow__desc">Rejoindre dès maintenant le Conseil national de la Refondation vous permet de participer à cette nouvelle méthode de dialogue aux côtés de ceux qui font vivre nos services publics et nos territoires, des associations et de milliers d'autres citoyens.</p>
                  </div>
                  <div>
                      <a class="fr-btn" href="{% url 'inscription' %}">Je participe !</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
