{% extends 'base.html' %}

{% block content %}
<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h1>Conditions générales d'utilisation</h1>
      <p>Les présentes conditions générales d'utilisation (ci-après « CGU ») ont pour objet de régir les conditions de mise à disposition, d'accès, de navigation et d'utilisation du site.</p>
      <p>Les présentes ont pour objet de définir les termes et conditions de mise à disposition, d'accès et d'utilisation de la plateforme.</p>
      <p>L'accès, la navigation et l'utilisation du Site implique l'acceptation sans réserve des CGU et ses annexes. Il convient de souligner que l'usage de la plateforme ne nécessite pas la création d'un compte.</p>
      <p>L'Usager s'engage à respecter les termes des présentes CGU et à naviguer et/ou utiliser le Site conformément à la réglementation applicable, aux instructions de l'éditeur de la plateforme et à tout document régissant l'accès et l'utilisation du site.</p>
      <p>Plus précisemment, l'Usager s'interdit notamment :</p>
      <ul>
        <li>d'utiliser le Site de manière illégale, pour toute finalité illégale ou de manière incompatible avec les CGU ;</li>
        <li>d'usurper l'identité de tiers ;</li>
        <li>d'utiliser le Site à des fins abusives</li>
      </ul>

      <p>L'Utilisateur s'engage également à ne pas publier sur le Site de contenus :</p>
      <ul>
        <li>qui pourraient être qualifiées d'acte de contrefaçon et/ou d'actes de concurrence déloyale ;</li>
        <li>contraires à la réglementation et à la loi (notamment infraction de presse, contenu à caractère violent, ou pornographique) ;</li>
        <li>qui pourraient porter atteinte à l'image et/ou à la vie privée et/ou à la réputation d'une personne physique ou d'une personne morale ;</li>
        <li>à caractère diffamatoire, injurieux, outrancier, mensonger ou calomnieux à l'égard des tiers, personne physique ou morale ;</li>
        <li>menaçant une personne ou un groupe de personnes ;</li>
        <li>contraire à l'ordre public (notamment apologie des crimes contre l'humanité, apologie du terrorisme, incitation à la haine à l'égard de personnes à raison de leur sexe, orientation, identité sexuelle, ou handicap).</li>
      </ul>

      <p>Le Responsable de traitement se réserve le droit, à tout moment et à son entière discrétion, de supprimer toute contribution, lien ou contenu qui utiliserait le Site et/ou publierait sur le Site une information, un contenu, lien ou Contribution susceptible de constituer une atteinte aux dispositions légales ou réglementaires en vigueur, à l'ordre public, aux bonnes mœurs ou aux présentes CGU.</p>
    </div>
  </div>
</div>
{% endblock content %}
