{% extends 'base.html' %}

{% block content %}
<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h1>Politique de confidentialité</h1>
      <h2>Qui est responsable de la plateforme du Conseil National de la Refondation (CNR) ?</h2>
      <p>La plateforme du Conseil National de la Refondation (CNR) est proposée par le Haut-Commissariat au plan (HCP).</p>
      <p>Le responsable de l'utilisation des données est David Djaiz, rapporteur général du CNR.</p>
      
      <h2>Pourquoi traitons-nous ces données ?</h2>
      <p>La plateforme du Conseil National de la Refondation (CNR) traite des données à caractère personnel pour les raisons suivantes :</p>
      <p>L'objectif de la plateforme est double :</p>
      <ul>
        <li>D'une part, elle vise à permettre aux citoyens, élus, et représentants d'associations de contribuer aux différentes consultations thématiques prévues dans le cadre de la refondation démocratique.</li>
        <li>D'autre part, elle permet d'informer les citoyens et parties-prenantes sur la méthode du Conseil National de la Refondation et de répondre aux questions des participants sur les thématiques, les prochains jalons etc.</li>
      </ul>

      <p>Le site permet de :</p>
      <ul>
        <li>Recueillir et analyser les contributions ou réactions des internautes ;</li>
        <li>Réaliser des statistiques anonymes sur la participation ;</li>
        <li>Envoyer des communications ou des informations relatives à la démarche participative ;</li>
        <li>Traiter les éventuelles demandes, remarques ou réclamations des internautes à propos du site.</li>
      </ul>
      <p>Ce traitement de données répond à une mission d'intérêt public confiée au HCP conformément à l'article 6.1.e du règlement général sur la protection des données (RGPD).</p>

      <h2>Quelles sont les données que nous traitons ?</h2>
      <p>La plateforme du Conseil National de la Refondation (CNR) traite les données à caractère personnel suivantes :</p>
      <ul>
        <li>une adresse électronique pour recevoir les informations relatives à la démarche du CNR</li>
        <li>un prénom [ou un pseudonyme]</li>
        <li>les journaux de connexion</li>
      </ul>
      <p>Les contributions sont recueillies de manière anonyme. Si un contributeur devait toutefois y intègrer des données identifiantes, ces données seront traitées conformément à l'article 9.2.e du règlement général sur la protection des données (RGPD).</p>
      <p>Seules les données nécessaires à l'utilisation du site et à la démarche collaborative sont collectées. Vos données ne font l'objet d'aucune exploitation commerciale par un tiers, ni d'aucune transmission ou cession à quiconque à des fins commerciales ou de prospection.</p>

      <h2>Pendant combien de temps conservons-nous ces données ?</h2>
      <div class="fr-table">
        <table>
          <thead>
              <tr>
                  <th scope="col">Types de données</th>
                  <th scope="col">Détail des données</th>
                  <th scope="col">Durée de conservation</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>Coordonnées</td>
                <td>Adresse électronique</td>
                <td>12 mois</td>
              </tr>
              <tr>
                <td>Identité</td>
                <td>Prénom ou pseudonyme</td>
                <td>12 mois</td>
              </tr>
              <tr>
                <td>Données de connexion</td>
                <td>Données de connexion</td>
                <td>Les données de connexion sont conservées 1 an, conformément au décret n° 2021-1362 du 20 octobre 2021.</td>
              </tr>
              <tr>
                <td>Cookies</td>
                <td>Se référer à la section “Cookies”</td>
                <td>Les cookies sont conservés jusqu'au retrait du consentement, si applicable, ou dans un délai de 13 mois, conformément aux recommandations de la CNIL.</td>
              </tr>
          </tbody>
        </table>
      </div>
      <p>Une fois ces durées atteintes, toutes les informations sont supprimées.</p>

      <h2>Quels droits avez-vous ?</h2>
      <p>Vous disposez d'un :</p>
      <ul>
        <li>droit d'information ;</li>
        <li>droit d'accès à vos données ;</li>
        <li>droit d'opposition et de rectification.</li>
      </ul>

      <p>Vous pouvez également à tout moment demander à vous désinscrire de la liste de diffusion.</p>

      <p>Pour exercer vos droits, contactez-nous à <a href="mailto:contact@conseil-refondation.fr">contact@conseil-refondation.fr</a>. Puisque ce sont des droits attachés à la personne, nous ne traiterons votre demande que si nous sommes en mesure de vous identifier : ainsi, nous pourrons être amenés à vous demander la communication d'une preuve d'identité.</p>

      <p>Pour vous aider dans votre démarche, vous trouverez ici <a title="Modèle de la CNIL - ouvre une nouvelle fenêtre" href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces, un modèle de courrier élaboré par la CNIL." target="_blank" rel="noopener">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a>, un modèle de courrier élaboré par la CNIL.</p>
      <p>Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.</p>
      <p>Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la Commission Nationale de l'informatique et des Libertés (CNIL).</p>
      <p>Le Délégué à la protection des données des Services du Premier Ministre est Monsieur Nicolas Moreau</p>

      <h2>Qui va avoir accès à ces données ?</h2>
      <p>Les agents publics et les prestataires chargés de mettre en oeuvre la plateforme du Conseil National de la Refondation (CNR) ont accès à tout ou partie des données collectées.</p>

      <h2>Quelles mesures de sécurité mettons-nous en place ?</h2>
      <p>Nous mettons en place plusieurs mesures pour sécuriser les données :</p>
      <ul>
        <li>Anonymisation ;</li>
        <li>Chiffrement</li>
        <li>Stockage des données en base de données ;</li>
        <li>Cloisonnement des données, séparation notamment des informations relatives au profil des contributeurs et des contributions ;</li>
        <li>Mesures de traçabilité ;</li>
        <li>Surveillance ;</li>
        <li>Protection des réseaux ;</li>
        <li>Sauvegarde ;</li>
        <li>Mesures restrictives limitant l'accès physiques aux données à caractère personnel.</li>
      </ul>

      <h2>Qui nous aide à traiter les données ?</h2>
      <p>Certaines des données sont envoyées à d'autres acteurs, appelés “sous-traitants de données”, pour qu'ils nous aident à les traiter. Nous nous assurons qu'ils respectent strictement le RGPD et qu'ils apportent des garanties suffisantes en matière de sécurité.</p>

      <div class="fr-table">
        <table>
          <thead>
              <tr>
                  <th scope="col">Sous-traitant</th>
                  <th scope="col">Pays destinataire</th>
                  <th scope="col">Traitement réalisé</th>
                  <th scope="col">Garanties</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>Scalingo</td>
                <td>France</td>
                <td>Hébergement</td>
                <td>Certficiation ISO 27001 & Secnum <a title="Gestion des Traitements de Données Personnelles de Scalingo - ouvre une nouvelle fenêtre" href="https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles" target="_blank" rel="noopener">https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles</a>
                  <a title="Engagements de Services de Scalingo - ouvre une nouvelle fenêtre" href="https://scalingo.com/fr/engagements-de-services" target="_blank" rel="noopener">https://scalingo.com/fr/engagements-de-services</a>
                </td>
              </tr>
              <tr>
                <td>Sendinblue</td>
                <td>France</td>
                <td>Envoi de mail</td>
                <td><a title="RGPD de Sendinblue- ouvre une nouvelle fenêtre" href="https://fr.sendinblue.com/rgpd/" target="_blank" rel="noopener">https://fr.sendinblue.com/rgpd/</a></td>
              </tr>
              <tr>
                <td>MTCaptcha</td>
                <td>USA</td>
                <td>Captacha</td>
                <td>Solution de sécurisation ne manipulant pas de données à caractère personnel directement identifiante <a title="GDPR and Captcha - ouvre une nouvelle fenêtre" href="https://www.mtcaptcha.com/gdpr-captcha" target="_blank" rel="noopener">https://www.mtcaptcha.com/gdpr-captcha</a>
                  <a title="MTCaptcha - Data Processing Agreement - ouvre une nouvelle fenêtre" href="https://www.mtcaptcha.com/legal-dpa" target="_blank" rel="noopener">https://www.mtcaptcha.com/legal-dpa</a>
                </td>
              </tr>
          </tbody>
        </table>
      </div>

      <h2>Cookies et autres trackers</h2>
      <p>Sauf dans l'hypothèse d'une exemption spécifique, l'enregistrement de cookies sur votre terminal de navigation est soumis à votre accord.</p>
      <p>À tout moment, vous pouvez refuser l'utilisation des cookies et désactiver le dépôt sur votre ordinateur en utilisant [l'outil de gestion des cookies] que nous mettons à votre disposition ou depuis la fonction dédiée de votre navigateur (fonction disponible notamment sur Microsoft Internet Explorer 11, Google Chrome, Mozilla Firefox, Apple Safari et Opera).</p>
      <p>La plateforme du Conseil National de la Refondation (CNR) utilise des cookies exemptés de consentement, strictement nécessaires au bon fonctionnement du site.</p>
      <p>La plateforme a recours à des cookies de statistiques anonymes qui ne nécessitent pas de bandeau cookies, toujours au sens des dernières recommandations de la CNIL à ce sujet. L'outil utilisé est Matomo opéré par la Direction interministérielle du numérique. Vous pouvez vous opposer à la réalisation de statistiques anonymes en cliquant ci-après : <a title="Statistiques du Conseil National de la Refondation - ouvre une nouvelle fenêtre" href="https://stats.conseil-refondation.fr//index.php?module=CoreAdminHome&action=optOut&language=fr." target="_blank" rel="noopener">s'opposer aux statistiques anonymes</a>.</p>
      <p>La plateforme a également recours à une solution de Captcha qui peut nécessiter le dépôt d'un cookie en vue de réaliser un test d'identification pour s'assurer que le visiteur est bien d'un humain et non un automate informatique. <a title="MTCaptcha - ouvre une nouvelle fenêtre" href="https://www.mtcaptcha.com/" target="_blank" rel="noopener">MTCaptcha</a></p>
      <p>Certains cookies sont déposés pour vous adresser une communication personnalisée, y compris sur d'autres sites internet et applications. Vous avez la possibilité de les désactiver ou de les activer à tout moment. [PIXEL TRACKING]</p>
      <p>Enfin, d'autres cookies sont déposés pour mesurer et améliorer la promotion du CNR auprès du public et sur différents canaux [GOOGLE ADS]</p>
      <p>Pour aller plus loin, vous pouvez consulter les ﬁches proposées par la Commission Nationale de l'Informatique et des Libertés (CNIL) :</p>
      <ul>
        <li><a title= "Documentation de la CNIL sur les cookies - ouvre une nouvelle fenêtre" href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/que-dit-la-loi" target="_blank" rel="noopener">Cookies & traceurs : que dit la loi ?</a></li>
        <li><a title= "Documentation de la CNIL sur les cookies - ouvre une nouvelle fenêtre" href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur" target="_blank" rel="noopener">Cookies : les outils pour les maîtriser</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
