{% extends 'base.html' %}

{% block content %}
<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h1>Données personnelles</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor eu ex id tincidunt. Vestibulum tempus et urna ut interdum. Mauris posuere tempus consequat. Etiam euismod, quam ut pellentesque tempor, neque mi gravida odio, a laoreet nisi sapien sit amet quam. Aenean augue leo, bibendum vitae interdum ut, volutpat eget lacus. Pellentesque volutpat, elit pulvinar egestas mollis, tortor massa vestibulum dolor, sit amet facilisis purus arcu vel leo. Integer eget orci quis ipsum congue consequat. Curabitur tortor magna, suscipit eu tempor at, elementum sit amet enim. Ut non consequat tellus, a imperdiet tortor. Nam aliquam, leo sed rhoncus accumsan, purus tortor finibus lorem, id hendrerit nisl nibh quis arcu. Proin pharetra id tortor id convallis. Ut quis ultrices ipsum. Suspendisse bibendum nec turpis ut feugiat.</p>
    </div>
  </div>
</div>
{% endblock content %}
