{% extends 'base.html' %}
{% load static %}

{%block content %}
<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-sm-10 fr-col-offset-sm-1 fr-mt-6w">
      <h1 class="fr-display--sm">Une nouvelle méthode pour construire, ensemble et au plus près du terrain, l’avenir de la France</h1>
    </div>

    <div class="fr-col-12 fr-col-sm-6">
      <div class="bordered fr-p-12w">
        <img src="{% static 'images/cnr_logo.svg' %}" alt="Logo du Conseil National de la Refondation" class="fr-responsive-img">
      </div>
    </div>
    <div class="fr-col-12 fr-col-sm-6">
      <h2>Un constat partagé</h2>
      <p><b>Notre démocratie demande à être rénovée.</b></p>
      <p>À l’heure où les isoloirs se vident et où les débats s’enveniment, à l’ère de la guerre en Europe, de la fragilité écologique et de l’incertitude économique, ce constat s’impose avec une urgence nouvelle.</p>
      <p><b>Notre pays a besoin que nous agissions collectivement.</b></p>
      <p>Non plus les uns contre les autres, mais les uns avec les autres. Sans renier nos différences, mais en dépassant nos différends, pour agir en nation.</p>
      <p><b>Notre pays a besoin d’une nouvelle méthode.</b></p>
      <p>Le rôle du Conseil national de Refondation est de créer une nouvelle manière de concerter et d’agir, qui permette à tous d’échanger de manière constructive dans la diversité des forces vives de la nation.</p>
    </div>
  </div>
</div> <!--container -->

<div class="fr-background-alt--blue-france fr-my-6w">
  <div class="fr-container fr-py-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <h2>Des chantiers concrets du quotidien, ouverts à chaque citoyen sur tout le territoire</h2>
        <p>Lancé à la rentrée 2022, le CNR se construira progressivement dans les prochaines semaines, avec un format adapté aux enjeux de chaque thématique, aux apports de chacun et aux spécificités de chaque territoire.</p>
        <p>Le CNR ne se substituera pas aux trois assemblées. Il lui reviendra d’investir un immense terrain de travail, en amont du vote de la loi, pour sa préparation, et en aval, pour sa mise en œuvre. Ses conclusions pourront déboucher tant sur des mesures législatives qui seront proposées au Parlement, que sur des mesures normatives ou des bonnes pratiques, relatives à l’organisation concrète et locale de nos vies.</p>
        <p>Car le CNR fera rimer efficacité avec proximité : dans les mois qui viennent, les solutions contre les déserts médicaux de votre région, pour l’avenir de votre école ou encore la transition écologique sur votre territoire vont se décider avec vous, près de chez vous.</p>
        <a class="fr-btn" href="#">Participer</a>
      </div>
    </div>
  </div><!--container -->
</div>

<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-8 fr-col-offset-2">
      <figure class="fr-quote fr-quote--column">
          <blockquote>
              <p>« Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum eros at libero finibus gravida. Suspendisse metus felis, porttitor et efficitur at, facilisis id elit. »</p>
          </blockquote>
          <figcaption>
              <p class="fr-quote__author">Emmanuel Macron</p>
              <ul class="fr-quote__source">
                <li>
                    <cite>Président de la République</cite>
                </li>
              </ul>
              <div class="fr-quote__image">
                  <img src="{% static 'images/macron.jpg' %}" class="fr-responsive-img" alt="" />
                  <!-- L’alternative de l’image (attribut alt) doit rester vide car l’image est illustrative et ne doit pas être restituée aux technologies d’assistance -->
              </div>
          </figcaption>
      </figure>
    </div>
  </div>
</div><!--container-->

<div class="fr-background-alt--blue-france fr-my-6w">
  <div class="fr-container fr-py-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12">
        <h2>La structuration</h2>
        <p>Nam malesuada tortor ac nisl viverra, vitae bibendum ligula blandit. Sed libero felis, congue id commodo nec, laoreet et felis. Proin pretium iaculis ligula. Nulla placerat elementum neque, dictum facilisis elit vehicula sit amet. Maecenas non ultrices risus. Fusce vel imperdiet neque, non rhoncus nisl. Curabitur aliquam nisi eu massa consequat, ac rutrum tellus tincidunt</p>
        <p>Nam malesuada tortor ac nisl viverra, vitae bibendum ligula blandit. Sed libero felis, congue id commodo nec, laoreet et felis. Proin pretium iaculis ligula. Nulla placerat elementum neque, dictum facilisis elit vehicula sit amet. Maecenas non ultrices risus. Fusce vel imperdiet neque, non rhoncus nisl. Curabitur.</p>
      </div>
    </div>
  </div><!--container -->
</div>

<div class="fr-container fr-py-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
      <h2>Lancement du Conseil national de la Refondation</h2>
      <p>Jeudi 8 septembre, le Président de la République s'est rendu à Marcoussis, dans l’Essonne, pour le lancement du Conseil national de la Refondation en réunissant des représentants de forces politiques, des partenaires sociaux, des élus locaux, des représentants du monde économique et du monde associatif.</p>
      <p>Découvrez ici le témoignage de trois participants lors de cette journée :</p>

      <div class="fr-content-media">
        <iframe title="Titre de l'iframe" class="fr-responsive-vid " src="https://www.youtube.com/embed/Aj1Ca_axVg4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="fr-content-media__caption">© Légende de la vidéo</div>
    </div>
  </div>
</div><!--container -->

{% endblock content %}
