{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-sm-10 fr-col-offset-sm-1">
      <h1 class="fr-display--sm">Une nouvelle méthode pour construire, ensemble et au plus près du terrain, des solutions pour faire face aux défis de l'avenir.</h1>
    </div>

    <div class="fr-col-12 fr-col-sm-6">
      <div class="bordered fr-p-12w">
        <img src="{% static 'images/cnr_logo.svg' %}" alt="Logo du Conseil National de la Refondation" class="fr-responsive-img">
      </div>
    </div>
    <div class="fr-col-12 fr-col-sm-6">
      <h2>Un constat partagé</h2>
      <p><b>Notre démocratie demande à être rénovée.</b></p>
      <p>À l'heure où les isoloirs se vident et où les débats s'enveniment, à l'ère de la guerre en Europe, de la fragilité écologique et de l'incertitude économique, ce constat s'impose avec une urgence nouvelle.</p>
      <p><b>Notre pays a besoin que nous agissions collectivement.</b></p>
      <p>Non plus les uns contre les autres, mais les uns avec les autres. Sans renier nos différences, mais en dépassant nos différends, pour agir en nation.</p>
      <p><b>Notre pays a besoin d'une nouvelle méthode.</b></p>
      <p>Le rôle du Conseil national de Refondation est de créer une nouvelle manière de concerter et d'agir, qui permette à tous d'échanger de manière constructive pour bâtir des solutions appropriées aux grands défis de l'époque.</p>
    </div>
  </div>
</div> <!--container -->

<div class="fr-background-alt--blue-france fr-my-6w fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-8 fr-col-offset-2">
        <figure class="fr-quote fr-quote--column">
            <blockquote>
                <p>« Avec le Conseil national de la refondation, notre volonté est de recréer ensemble de l’unité là où il y avait de la division, et de l’élan là où il y avait des freins. Vos idées, vos compétences, votre implication, je le sais, peuvent y contribuer. »</p>
            </blockquote>
            <figcaption>
                <p class="fr-quote__author">Emmanuel Macron</p>
                <ul class="fr-quote__source">
                  <li>
                      <cite>Président de la République</cite>
                  </li>
                </ul>
                <div class="fr-quote__image">
                    <img src="{% static 'images/macron.jpg' %}" class="fr-responsive-img" alt="" />
                    <!-- L'alternative de l'image (attribut alt) doit rester vide car l'image est illustrative et ne doit pas être restituée aux technologies d'assistance -->
                </div>
            </figcaption>
        </figure>
      </div>
    </div>
  </div><!--container-->
</div>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h2>Lancement du Conseil national de la Refondation : un constat et une méthodologie partagés </h2>
      <p>Le Président de la République a ainsi lancé le jeudi 8 septembre 2022 le « Conseil National de la Refondation », à Marcoussis, dans l'Essonne. Il a réuni à cette occasion une quarantaine de représentants de forces politiques, des partenaires sociaux, des élus locaux, des représentants du monde économique et du monde associatif.</p>
      <p>L'objectif a notamment été de poser un constat commun. Découvrez ici le témoignage de trois intervenants de la matinée, sur lesquels les participants ont réagi :</p>

      <div class="fr-content-media">
        <iframe title="Vidéo une méthode nouvelle" class="fr-responsive-vid " src="https://www.youtube.com/embed/gLzXOViPX-0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-fr-js-ratio="true" data-dashlane-frameid="7312"></iframe>
        <div class="fr-content-media__caption">Emmanuel Macron, Président de la République, présente la méthode du CNR.</div>
        </div>

      <div class="fr-content-media">
        <iframe title="Titre de l'iframe" class="fr-responsive-vid " src="https://www.youtube.com/embed/FD7DoBru8jM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="fr-content-media__caption">Corinne Le Quéré, présidente du Haut Conseil pour le Climat, participe au CNR.</div>
      </div>

      <div class="fr-content-media">
        <iframe title="Titre de l'iframe" class="fr-responsive-vid " src="https://www.youtube.com/embed/FQlomqwifec" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="fr-content-media__caption">François Villeroy de Galhau, Gouverneur de la Banque de France, participe au CNR.</div>
      </div>

      <div class="fr-content-media">
        <iframe title="Titre de l'iframe" class="fr-responsive-vid " src="https://www.youtube.com/embed/_GbQG3u_ttk" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="fr-content-media__caption">Pierre Moscovici, Premier Président de la Cour des comptes, participe au CNR.</div>
      </div>

    </div>
  </div>
</div><!--container -->


<div class="fr-background-alt--blue-france fr-my-6w">
  <div class="fr-container fr-py-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
        <h2>Bientôt de nouvelles étapes, avec des chantiers concrets du quotidien, ouverts à tous sur tout le territoire</h2>
        <p>Notre démarche se construira progressivement dans les prochaines semaines, avec un format adapté aux enjeux de chaque thématique, aux apports de chacun et aux spécificités de chaque territoire.</p>
        <p>Notre démarche ne se substituera en aucun cas aux institutions prévues par la constitution, et respectera les compétences de chacun. Il lui reviendra d'investir un immense terrain de travail, en amont du vote de la loi, pour créer du consensus sur les grands sujets d'avenir et les transitions à opérer, et en aval, pour sa déclinaison sur le terrain en améliorant la coopération entre les acteurs et en construisant des solutions concrètes.</p>
        <p>Car cette démarche fera rimer efficacité avec proximité : dans les mois qui viennent, les solutions contre les déserts médicaux de votre région, pour l'avenir de l'école de vos enfants ou petits-enfants ou encore la transition écologique sur votre territoire vont se décider avec vous, près de chez vous.</p>

        <a class="fr-btn" href="{% url 'inscription' %}">Je participe !</a>
      </div>
    </div>
  </div><!--container -->
</div>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h2>La structuration</h2>
      <p><b>CNR plénier</b> : réunir des acteurs très différents de la vie nationale pour s'exprimer sur les grands défis du pays et les amener à partager les contraintes des autres. Le « format plénier » a vocation à être réuni tous les 3 à 6 mois mais aussi sur une base plus régulière sous l'égide du Président de la République et de la Première ministre. Il sera l'occasion d'inscrire des thèmes nouveaux à l'agenda mais aussi de faire un point d'étape et d'avancement des formats thématiques et territoriaux.</p>
      <p><b>CNR thématique</b> : des ateliers thématiques réfléchiront aux grandes transitions de notre époque en réunissant tous les acteurs pertinents. Par exemple, la stratégie française de décarbonation ne sera pas réalisée seulement par les Ministères mais devra être co-construite avec les collectivités territoriales, les entreprises et bien sûr les citoyens.</p>
      <p><b>CNR territorial</b> : des concertations territoriales seront conduites sur des sujets essentiels à notre vie quotidienne comme l'école, la santé, les freins à l'emploi ou encore la transition écologique dans les territoires. Ici, il s'agira de partir de la réalité vécue des Français, dans sa diversité territoriale, pour proposer des innovations, des expérimentations, des solutions pragmatiques aux problèmes rencontrés, comme cela a été fait dans le cadre du projet « Marseille en Grand ». Une évaluation en continu de ces expérimentations sera réalisée, et les expérimentations réussies auront vocation à essaimer dans d'autres territoires.</p>
    </div>
  </div>

  <hr class="fr-mt-6w fr-mb-3w">
  <h2 id="anchor_thematiques">Les thématiques</h2>
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w ">
      <div class="fr-col-12">
       <h3>Les consultations nationales</h3>
     </div>
    <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
        <div class="fr-tile__body">
          <h4 class="fr-tile__title"><a href="/climat-biodiversite/">Climat et biodiversité</a></h4>
          <p>C'est l'urgence du siècle, et elle exige une planification de nos actions, de l'échelle planétaire à l'échelle locale, une accélération de nos efforts pour réduire les émissions de gaz à effet de serre et une adaptation de notre société aux effets du changement climatique.</p>
        </div>
        <div class="fr-tile__img">
          <img src="{% static 'artwork/environment.svg' %}" class="fr-responsive-img" alt="">
        </div>
      </div>
    </div>

    <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
        <div class="fr-tile__body">
          <h4 class="fr-tile__title"><a href="/bien-vieillir/">Bien vieillir</a></h4>
          <p>Notre société fait face à une forte transition démographique (baisse de la natalité, vieillissement de la population) et doit prendre en compte ses conséquences : prendre soin de nos plus âgés, les aider à vieillir dans les meilleures conditions, sauvegarder l'équilibre de la protection sociale et renforcer la solidarité entre les générations.</p>
        </div>
        <div class="fr-tile__img">
          <img src="{% static 'artwork/human-cooperation.svg' %}" class="fr-responsive-img" alt="">
        </div>
      </div>
    </div>

    <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
        <div class="fr-tile__body">
          <h4 class="fr-tile__title"><a href="/economie/">Modèle productif et social</a></h4>
          <p>Aujourd'hui, notre modèle économique et productif doit se transformer en ayant pour objectif la réindustrialisation de notre pays, le renforcement de notre souveraineté technologique, les défis écologiques et climatiques et la lutte contre les inégalités, ainsi que la nécessaire justice sociale et redistribution des richesses.</p>
        </div>
        <div class="fr-tile__img">
          <img src="{% static 'artwork/money.svg' %}" class="fr-responsive-img" alt="">
        </div>
      </div>
    </div>

    <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
        <div class="fr-tile__body">
          <h4 class="fr-tile__title"><a href="/travail/">Assises du travail</a></h4>
          <p>Le sens du travail dans un monde en mutation, le bien-être au travail, l'évolution des rémunérations, la formation professionnelle ou encore la conciliation entre vie familiale et vie professionnelle sont autant de questions auxquelles nous devons apporter des réponses. Les derniers freins au plein emploi, en matière de formation professionnelle, de logement ou encore de garde d'enfants doivent aussi être levés.</p>
        </div>
        <div class="fr-tile__img">
          <img src="{% static 'artwork/map.svg' %}" class="fr-responsive-img" alt="">
        </div>
      </div>
    </div>

    <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
        <div class="fr-tile__body">
          <h4 class="fr-tile__title"><a href="/logement">Logement</a></h4>
          <p>Rendre l'accès au logement plus facile, améliorer les conditions de vie, préparer les transitions de la vie : autant de défis à relever ensemble.</p>
        </div>
        <div class="fr-tile__img">
          <img src="{% static 'artwork/france-localization.svg' %}" class="fr-responsive-img" alt="">
        </div>
      </div>
    </div>

    <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
        <div class="fr-tile__body">
          <h4 class="fr-tile__title"><a href="/jeunesse">Jeunesse</a></h4>
          <p>Nos jeunes sont l'avenir de notre pays. Leur formation, leur mode de vie, leurs espoirs et leurs angoisses doivent faire l'objet d'une attention spécifique.</p>
        </div>
        <div class="fr-tile__img">
          <img src="{% static 'artwork/avatar.svg' %}" class="fr-responsive-img" alt="">
        </div>
      </div>
    </div>

    <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
        <div class="fr-tile__body">
          <h4 class="fr-tile__title"><a href="/numerique/">Numérique</a></h4>
          <p>La transition numérique est partout : démarches quotidiennes, digitalisation de nos activités et consommation, sécurité et information… À la croisée de ces enjeux, des solutions communes et inclusives doivent être trouvées.</p>
        </div>
        <div class="fr-tile__img">
          <img src="{% static 'artwork/coding.svg' %}" class="fr-responsive-img" alt="">
        </div>
      </div>
    </div>
      <div class="fr-col-12">
       <h3>Les projets locaux</h3>
     </div>
      <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
        <div class="fr-tile__body">
          <h4 class="fr-tile__title"><a href="/education/">Notre école</a></h4>
          <p>L'école est au cœur de notre contrat républicain. Des solutions, locales et nationales, doivent être trouvées pour continuellement assurer la réussite de nos élèves, réduire les inégalités de destin et assurer le bien-être de tous.</p>
        </div>
        <div class="fr-tile__img">
          <img src="{% static 'artwork/school.svg' %}" class="fr-responsive-img" alt="">
        </div>
      </div>
    </div>
      <div class="fr-col-12 fr-col-md-6">
      <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
        <div class="fr-tile__body">
          <h4 class="fr-tile__title"><a href="/climat-biodiversite/">Notre santé</a></h4>
          <p>Lutte contre les déserts médicaux, améliorer la prévention, réparer l'hôpital public et les urgences : la santé est un des joyaux de notre service public à renforcer et rendre encore davantage attractif et accessible.</p>
        </div>
        <div class="fr-tile__img">
          <img src="{% static 'artwork/health.svg' %}" class="fr-responsive-img" alt="">
        </div>
      </div>
    </div>
  </div>
</div><!--container -->
<div class="fr-follow">
  <div class="fr-container">
      <div class="fr-grid-row">
          <div class="fr-col-12">
              <div class="fr-follow__newsletter">
                  <div>
                      <h5 class="fr-h5 fr-follow__title">Rejoignez-nous</h5>
                      <p class="fr-text--sm fr-follow__desc">Rejoindre dès maintenant le Conseil national de la Refondation vous permet de participer à cette nouvelle méthode de dialogue aux côtés de ceux qui font vivre nos services publics et nos territoires, des associations et de milliers d'autres citoyens.</p>
                  </div>
                  <div>
                      <a class="fr-btn" href="{% url 'inscription' %}">Je participe !</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
