{% extends 'base.html' %}
{% load static %}

{%block content %}
  <div class="fr-container fr-my-6w">
    <img src="https://via.placeholder.com/750x200" alt="Logo du Conseil National de la Refondation" class="fr-responsive-img">
    <figcaption class="fr-content-media__caption">© Légende de l‘image</figcaption>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-sm-10 fr-col-offset-sm-1 fr-mt-6w">
        <h1 class="fr-display--sm">Une nouvelle méthode pour construire, ensemble et au plus près du terrain, l’avenir de la France</h1>
      </div>
    </div>
  </div> <!--container -->
{% endblock content %}
