{% extends 'base.html' %}

{% block content %}
    <div class="fr-container fr-my-6w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-sm-10 fr-col-offset-sm-1">
                <h1 class="fr-display--sm">S'inscrire pour participer</h1>

                <p>Rejoindre dès maintenant le Conseil national de la Refondation vous permet de participer sur les thématiques qui vous intéressent, de vous engager localement et de suivre l'avancement du Conseil national de la Refondation.</p>

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="fr-alert fr-alert--success fr-alert--sm fr-mb-5w">
                                <p>{{ message }}</p>
                            </div>
                        {% elif message.tags == "error" %}
                            <div class="fr-alert fr-alert--error fr-alert--sm fr-mb-5w">
                                <p>{{ message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <form action="{% url 'inscription' %}" method="post" id="inscription_form">
                    {% csrf_token %}
                    <fieldset class="fr-fieldset fr-my-4w">
                        <div class="fr-grid-row fr-grid-row--gutters">
                          <div class="fr-col-12">
                            <div class="fr-input-group">
                                <label class="fr-label" for="email">{{ form.email.label }}</label>
                                <span class="fr-hint-text">Format attendu: nom@domaine.fr .</span>
                                <input class="fr-input" type="email" id="email" name="email"
                                {% if form.data %}
                                    value="{{ form.data.email }}"
                                {% else %}
                                    value="{{ form.instance.email }}"
                                {% endif %}
                                required>
                                {{ form.errors.email }}
                            </div>
                          </div>

                          <div class="fr-col-12 fr-col-sm-6">
                            <div class="fr-input-group">
                                <label class="fr-label" for="text-input-text">{{ form.first_name.label }}</label>
                                <input class="fr-input" type="text" id="text-input-text" name="first_name" value="{{ form.data.first_name }}" autocomplete="given-name" required>
                                {{ form.errors.first_name }}
                            </div>
                          </div>

                          <div class="fr-col-12 fr-col-sm-6">
                            <div class="fr-input-group">
                                <label class="fr-label" for="text-input-text">{{ form.postal_code.label }}</label>
                                <input class="fr-input" type="text" id="text-input-text" name="postal_code" value="{{ form.data.postal_code }}" autocomplete="postal-code" inputmode="numeric" pattern="^[0-9]{2}([0-9]{3})?$">
                                {{ form.errors.postal_code }}
                            </div>
                          </div>
                        </div>
                    </fieldset>

                    <div class="fr-form-group">
                        <fieldset class="fr-fieldset">
                            <legend class="fr-fieldset__legend fr-text--regular">{{ form.participant_type.label }}</legend>
                            <div class="fr-fieldset__content">
                                {{ form.errors.participant_type }}
                                {% for type in form.participant_type  %}
                                <div class="fr-radio-group">
                                    {{ type.tag }}
                                    <label for="{{ type.id_for_label }}">
                                        {{ type.choice_label }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>

                    <div class="fr-form-group">
                      <h2 class="fr-mb-0">Les thématiques sur lesquelles je veux m'investir</h2>
                      <span class="fr-hint-text fr-mb-5w">Choisissez une ou plusieurs thématiques sur lesquelles vous souhaitez apporter une contribution nationale.</span>
                      {{ form.errors.prefered_themes }}
                        <fieldset class="fr-fieldset checkbox-group" role="group">
                          {% for theme in form.prefered_themes %}

                          <div class="checkbox">
                            <label class="checkbox-wrapper" for="{{ theme.id_for_label }}">
                              {{ theme.tag }}

                              <span class="checkbox-tile">
                                <span class="checkbox-label">{{ theme.choice_label }}</span>
                              </span>
                            </label>
                          </div>
                          {% endfor %}
                        </fieldset>
                    </div>

                    <hr>
                    <div class="fr-form-group">
                        <fieldset class="fr-fieldset" role="group">
                            <div class="fr-fieldset__content">
                                <div class="fr-checkbox-group">
                                    <input type="checkbox" id="id_gives_gdpr_consent" name="gives_gdpr_consent" required>
                                    <label class="fr-label" for="id_gives_gdpr_consent">
                                        {{ form.gives_gdpr_consent.label }}
                                    </label>
                                    {{ form.errors.gives_gdpr_consent }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="mtcaptcha"></div>
                    <div class="fr-input-group fr-my-4w">
                        <button type="submit" class="fr-btn" title="Valider ce formulaire">Je confirme ma participation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
