{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="fr-container fr-mt-5w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h1 class="fr-display--sm">Logement</h1>
      <p><i>« Ce Conseil national de la Refondation est le vôtre. Bâtissons ensemble le logement de demain. Nous ferons avec vous, les uns avec les autres, dans l’unité. »</i>  <strong>-- Olivier KLEIN, Ministre délégué à la Ville et au Logement</strong></p>
      <p>Le Conseil national de la Refondation c’est une volonté et c’est une ambition. </p>
  <p>C’est la volonté de faire ensemble, de construire le logement de demain en réunissant des citoyens, des professionnels, des responsables publics et privés qui sont souvent côte à côte – voire face à face – mais qui ne travaillent pas ensemble. C’est la volonté de sortir des silos et de travailler, main dans la main. De s’écouter et de se parler.   </p>
  <p>Nous devons être en capacité de donner un logement à tous, partout, qui protège ses habitants. C’est notre ambition. C’est notre devoir. </p>
  <p>Alors, pour dégager des solutions et dessiner ensemble la politique du logement en France, trois grandes ambitions doivent guider nos échanges : une ambition sociale, avec l’hébergement d’urgence et le logement social, parce que chacun a le droit à un logement digne et abordable, partout ; une ambition économique, parce qu'il nous appartient de rénover et construire mieux, plus et d'être innovants ; une ambition écologique, enfin, parce que la ville change, nos modes de vie changent et le logement s'adapte face à ces évolutions.</p>
  
  <h3>Agnès FIRMIN LE BODO, Ministre déléguée, chargée de l’Organisation territoriale et des Professions de Santé </h3>
    <p>Le CNR, dont la déclinaison santé s’ouvre aujourd’hui annonce une méthode nouvelle : réunir les représentants de forces politiques, les partenaires sociaux, les élus, les représentants du monde économique et associatif pour faire avancer le pays, dans un esprit de dialogue et de responsabilités partagées.</p>
    <p>Notre système de santé est aujourd’hui confronté à des défis dont l’urgence n’échappe à personne : les citoyens et les professionnels de santé veulent des réponses rapides et souhaitent que l’on puisse agir concrètement et avec efficacité sur leur quotidien. Face à ces attentes, nous devons apporter des réponses collectivement : c’est l’objectif que nous nous fixons avec le CNR santé. </p>
    <p>De mon expérience de professionnelle de santé de terrain et de parlementaire, je tire une vigilance toute particulière à l’écoute et au dialogue. Chaque territoire présente des atouts et des besoins spécifiques auxquels nous devons être attentifs, et c’est par les territoires que nous construirons la santé de demain, dans une logique de confiance, de coopération et de subsidiarité. Je crois à l’intelligence collective et à la capacité des acteurs de terrain à co construire des solutions dans cet esprit à la fois concret et apaisé qui caractérise le CNR. </p>


    </div>
  </div>
</div><!--container -->

<div class="fr-background-alt--blue-france fr-my-6w">
  <div class="fr-container fr-py-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      
      <h2>Le Conseil National de la Refondation en santé </h2>
<p>Notre système de santé, pilier de notre pacte républicain a fait preuve d’une extraordinaire résilience pour protéger et soigner pendant la crise sanitaire historique que nous venons de traverser. Mais il est fragilisé par d’importantes inégalités sociales et territoriales.</p>
<p>Chez les hommes, l’écart d’espérance de vie entre les cadres et les ouvriers est de plus de 7 ans.. 6 millions de Français, et parmi eux 600 000 personnes souffrant d’une maladie de longue durée, n’ont pas de médecin traitant. 40 % des cancers et 80% des problèmes cardiovasculaires surviennent alors qu’ils pourraient être évités. Dans le même temps, nous manquons cruellement de professionnels de santé pour assurer un égal accès aux soins sur l’ensemble du territoire. </p>
<p>Cette situation inédite implique une mobilisation de l’ensemble des parties prenantes de notre système de santé. Citoyens, usagers, élus, professionnels de santé doivent se rassembler dans un esprit de responsabilité partagée pour trouver des solutions concrètes et adaptées aux besoins des territoires. </p>
<p>C’est dans le cadre du Conseil national de la refondation, lancé le 8 septembre 2022 par le Président de la République, que cette mobilisation prendra sa place. L’objectif est de réunir toutes les énergies, locales et nationales pour trouver ensemble les réponses, inventer de nouveaux outils, repousser les frontières. </p>
<p>Dans les territoires, d’octobre à décembre, professionnels, élus, citoyens se réuniront pour travailler sur quatre défis que nous devons relever de manière urgente pour améliorer l’accès aux soins des Français :
<ul>
  <li>Donner un accès à un médecin traitant ou à une équipe traitante aux plus fragiles ;</li>
  <li>Garantir la permanence des soins et la réponse aux besoins de soins non programmés ;</li>
  <li>Créer une nouvelle alliance pour une politique de prévention dans le quotidien des Français ;</li>
  <li>Mobiliser les leviers locaux d’attractivité du système de santé. </li>
</ul>
</p>

<p>Les expériences innovantes déjà mises en pratique ainsi que les nouvelles propositions seront largement partagées. </p>
<p>Au niveau national, plusieurs chantiers seront ouverts sur les grandes priorités de la refondation (accès aux soins, prévention, attractivité des métiers) avec pour objectif d’agrandir la boîte à outils. Les travaux seront confiés à des personnalités qualifiées qui auront la responsabilité d’animer avec les parties prenantes la recherche de solutions et la construction de plans d’actions. </p>
<p>Un comité de suivi présidé par le ministre se réunira tous les mois en présence des trois garants pour s’assurer du bon avancement des travaux et du respect des principes d’action du CNR. </p>
</div>
  </div><!--container-->
</div>
</div>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h2>Le CNR santé de Craon en Mayenne avec le Président de la République</h2>
      <p>Le 10 octobre dernier, dans la commune de Craon, en Mayenne, le Président de la République a participé, aux côtés de François BRAUN, Ministre de la Santé et de la Prévention et de François BAYROU, Secrétaire général du CNR, à la restitution des travaux d’une journée de co-construction locale du CNR Santé. </p>
      <p>Professionnels de santé libéraux et hospitaliers, médecins et paramédicaux, élus locaux, représentants associatifs et citoyens volontaires du territoire ont été réunis. A l’issue de leur journée de concertation, ils ont eu l’occasion de présenter directement au Président de la République le fruit de leur réflexion collective.</p>
      <p>La richesse des échanges, la diversité des profils et des propositions, l’enthousiasme des participants ont posé les bases d’un pacte territorial.</p>
      <p>Les acteurs du territoire de la communauté de communes de Craon ont fait valoir les expériences existantes et notamment le groupement de coopération sanitaire qui regroupe l’ensemble des acteurs du soins libéraux et hospitaliers au bénéfice de la coordination de leur action à destination des usagers. Ils ont également fait de nombreuses propositions pour mettre en place des organisations innovantes : 
        <ul>
          <li>Etendre le fonctionnement des réunions de de concertation pluridisciplinaire (RCP), qui existe pour les personnes âgées, à la santé mentale et constituer une équipe professionnelle en santé mentale.</li>
          <li>Mettre en place une conciergerie pour les professionnels de santé.</li>
          <li>Adapter le cadre règlementaire pour favoriser les délégations de tâches aux professionnels paramédicaux.</li>
          <li>Renforcer l’éducation à la santé dans les écoles.</li>
        </ul>
        </p>
      <p>Le Président de la République a pu le rappeler : chacun est co-dépositaire du travail de la refondation, pour faire avancer le pays dans un esprit de dialogue et de responsabilité partagée. « C’est pourquoi je suis à vos côtés aujourd’hui. Je crois beaucoup à cette méthode et je pense que c’est un formidable levier de confiance démocratique, parce que c’est un antidote à l’impuissance et au fatalisme. Donc il faut réussir. »</p>
      <p>Les CNR locaux, en santé comme pour toutes les priorités identifiées, continueront de se déployer partout en France au cours des prochains mois et feront l’objet d’une synthèse nationale au début de l’année 2023.</p>
    </div>
  </div>
</div><!--container -->
<div class="fr-follow">
  <div class="fr-container">
      <div class="fr-grid-row">
          <div class="fr-col-12">
              <div class="fr-follow__newsletter">
                  <div>
                      <h5 class="fr-h5 fr-follow__title">Rejoignez-nous</h5>
                      <p class="fr-text--sm fr-follow__desc">Rejoindre dès maintenant le Conseil national de la Refondation vous permet de participer à cette nouvelle méthode de dialogue aux côtés de ceux qui font vivre nos services publics et nos territoires, des associations et de milliers d'autres citoyens.</p>
                  </div>
                  <div>
                      <a class="fr-btn" href="{% url 'inscription' %}">Je participe !</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
