{% extends 'base.html' %}

{% block content %}
<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h1>Mentions légales</h1>
      <h2>Editeur</h2>
      <p>20 avenue de Ségur<br>
        75334 Paris Cedex 07
      </p>
      <h2>Directeur de la publication</h2>
      <p>-</p>
      <h2>Hébergement</h2>
      <p>Scalingo SAS,<br>
        15 avenue du Rhin, 67100 Strasbourg,<br>
        France
      </p>
    </div>
  </div>
</div>
{% endblock content %}
