{% extends 'base.html' %}

{% block content %}
<div class="fr-container fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
      <h1>Questionnaire</h1>

      <div class="fr-stepper">
          <h2 class="fr-stepper__title">
              <span class="fr-stepper__state">Étape 1 sur 3</span>
              Question sur la thématique « Santé »
          </h2>
          <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="3"></div>
          <p class="fr-stepper__details">
              <span class="fr-text--bold">Étape suivante :</span> Question sur la thématique « Transition écologique »
          </p>
      </div>

      <hr>

      <div class="fr-input-group">
        <label class="fr-label" for="email">Quels sont, selon vous, les 3 mots qui caractérisent la santé dans notre pays ?</label>
        <input class="fr-input">
        <input class="fr-input fr-mt-1w">
        <input class="fr-input fr-mt-1w">
      </div>


      <div class="fr-input-group">
        <label class="fr-label" for="email">Quels sont, selon vous, les trois mots qui devraient caractériser la santé demain, grâce à nos actions ?</label>
        <input class="fr-input">
      </div>

      <p class="fr-text--xs">Vos contributions ne seront pas rattachées à votre adresse mail et l’analyse des réponses collectives sera publiée en données ouvertes.
        Vous pouvez participer à titre individuel, en tant qu’élu ou représentant d’une association.</p>

      <button class="fr-btn">
        Je continue
      </button>

    </div>
  </div>
</div>
{% endblock content %}
