{% load static dsfr_tags %}
{% load sass_tags %}

<!doctype html>
<html lang="fr" data-fr-scheme="system" {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% dsfr_css %}
  {% dsfr_favicon %}
  {% block extra_css %}
    <link rel="stylesheet" href="/static/dsfr/dist/utility/utility.min.css">
    <link href="{% sass_src 'css/style.sass' %}" rel="stylesheet" type="text/css" />
  {% endblock extra_css %}

  {% block title %}
  <title>
    {% if title %}
      {{ title }} — Conseil National de la Refondation
    {% else %}
      Conseil National de la Refondation
    {% endif %}
  </title>
  {% endblock title %}
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://cnr-matomo.osc-secnum-fr1.scalingo.io/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>

<body>
    {% block skiplinks %}
        {% dsfr_skiplinks skiplinks %}
    {% endblock skiplinks %}

    {% include "blocks/header.html" %}
    {% dsfr_theme_modale %}

    <main id="content" role="main">
      {% block content %}{% endblock content %}
    </main>

    {% include "blocks/footer.html" %}

  {% dsfr_js %}
  {% block extra_js %}{% endblock extra_js %}
</body>

</html>
