{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    {% for block in page.body %}
        {% if block.block_type == 'cover' %}
            {% include "cms/blocks/cover.html" %}
        {% elif block.block_type == 'title' %}
            <div class="fr-container fr-mt-6w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12{% if not block.value.large %} fr-col-offset-md-2 fr-col-md-8{% endif %}">
                        <h1 class="fr-display--sm">{{ block.value.title }}</h1>
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'imageandtext' %}
            {% include "cms/blocks/imageandtext.html" %}
        {% elif block.block_type == 'alert' %}
            {% include "cms/blocks/alert.html"  %}
        {% elif block.block_type == 'callout' %}
            {% include "cms/blocks/callout.html"  %}
        {% elif block.block_type == 'quote' %}
            <div class="fr-background-alt--blue-france fr-my-6w fr-py-6w">
                <div class="fr-container">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-8 fr-col-offset-2">
                            {% include "cms/blocks/quote.html"  %}
                        </div>
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'numbers' %}
            {% include "cms/blocks/numbers.html"  %}
        {% elif block.block_type == 'image' %}
            <div class="fr-container fr-my-3w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">
                        {% include "cms/blocks/image.html"  %}
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'video' %}
            <div class="fr-container fr-my-3w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
                        {% include "cms/blocks/video.html"  %}
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'multicolumns' %}
            {% include "cms/blocks/multicolumns.html"  %}
        {% elif block.block_type == 'paragraph' %}
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
                        {{ block.value|richtext }}
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'paragraphlarge' %}
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">
                        {{ block.value|richtext }}
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'faq' %}
            {% include "cms/blocks/faq.html" with faq_id=forloop.counter0 %}
        {% elif block.block_type == 'cardhorizontal' %}
            <div class="fr-container fr-my-3w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
                        <div class="fr-col-{{ block.value.ratio }}">
                            {% include "cms/blocks/cardhorizontal.html" %}
                        </div>
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'participantlist' %}
            <div class="fr-container fr-my-3w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-offset-md-2 fr-col-md-8">
                        {% include "cms/blocks/participantlist.html"  %}
                    </div>
                </div>
            </div>
        {% elif block.block_type == 'tilesparticipants' %}
            {% include "cms/blocks/tilesparticipants.html" %}
        {% elif block.block_type == 'stepper' %}
            {% include "cms/blocks/stepper.html" %}
        {% elif block.block_type == 'multitiles' %}
            {% include "cms/blocks/multitiles.html" %}
        {% elif block.block_type == 'maps' %}
            {% include "cms/blocks/maps.html" %}
        {% elif block.block_type == 'nps' %}
            {% include "cms/blocks/nps.html" %}
        {% elif block.block_type == 'jeparticipe' %}
            {% include "cms/blocks/footer_je_participe.html" %}
        {% endif %}
    {% endfor %}
{% endblock content %}
